<launch>
 <!--   <env name="ROS_MASTER_URI" value="http://tek-marvin-1.sandbox.tek.sdu.dk:11315"/> -->
    <rosparam file="$(find stereo_camera)/marvin_cameras.yaml" command="load" />
  <node ns="bumblebeeLeft" pkg="nodelet" type="nodelet" name="stereo_left_manager"  args="manager" output="screen"/>

    <node   pkg="nodelet" type="nodelet" name="bumblebeeLeft" args="load stereo_camera/StereoCamera bumblebeeLeft/stereo_left_manager" output="screen">
  <!-- <remap from="/bumblebeeRight/out" to="remapped_output"/> -->
  </node>

   <node  pkg="nodelet" type="nodelet" name="bumblebeeLeftPreprocess" args="load stereo_camera/StereoPreprocess bumblebeeLeft/stereo_left_manager" output="screen">
   <!-- <remap from="/bumblebeeRightPreprocess/out" to="remapped_output"/>-->
  </node>

  <node  pkg="nodelet" type="nodelet" name="bumblebeeLeftPointCloud" args="load stereo_camera/StereoPointCloud bumblebeeLeft/stereo_left_manager" output="screen">
   <!-- <remap from="/bumblebeeRightPreprocess/out" to="remapped_output"/>-->
  </node>

<group >
    <node name="imageViewLeftRaw" pkg="image_view" type="image_view" respawn="false" >
     <remap from="image" to="/bumblebeeLeft/left/image_raw/"/>
     </node>

    <node name="imageViewLeftColorRect" pkg="image_view" type="image_view" respawn="false" >
     <remap from="image" to="/bumblebeeLeft/left/image_rect_color/"/>
     </node>
  
  
  </group>

</launch>
