<?xml version="1.0"?>
<launch>
	<!--UR1 -->
	 <param name="/workcell" value="$(find marvin)/scene/Marvin.model.wc.xml"/>			
	 <param name="properties" value="$(find universalrobot)/ur1.prop.xml"/>

	<node name="UR1" pkg="universalrobot" type="ur" respawn="false"/> <!--machine="tek-marvin-4"-->
	
        <node name="caros_sdh" pkg="caros_sdh" type="sdh_node" respawn="true"/> <!-- machine="marvin-4"/>-->
	<!--<node name="kinect_vibrator" pkg="kinect_vibrator" type="kinectVibratorTest" respawn="false" machine="marvin-4"/>-->
</launch>
