<launch>
	<include file="$(find marvin)/launch/marvin.machine" />
	<arg name="machine" default="marvin-3" />

    <rosparam file="$(find stereo_camera)/marvin_cameras.yaml" command="load" />
  	<node ns="bumblebeeCenter" pkg="nodelet" type="nodelet" name="stereo_center_manager" args="manager" output="screen" machine="$(arg machine)"/>
  	<node   pkg="nodelet" type="nodelet" name="bumblebeeCenter" args="load stereo_camera/StereoCamera bumblebeeCenter/stereo_center_manager" output="screen" machine="$(arg machine)">
    	<!-- <remap from="/bumblebeeLeft/out" to="remapped_output"/> -->
  	</node>

   	<node  pkg="nodelet" type="nodelet" name="bumblebeeCenterPreprocess" args="load stereo_camera/StereoPreprocess bumblebeeCenter/stereo_center_manager" output="screen" machine="$(arg machine)">
   		<!-- <remap from="/bumblebeeLeftPreprocess/out" to="remapped_output"/>-->
  	</node>

      <node  pkg="nodelet" type="nodelet" name="bumblebeeCenterPointCloud" args="load stereo_camera/StereoPointCloud bumblebeeCenter/stereo_center_manager" output="screen">
       <!-- <remap from="/bumblebeeLeftPreprocess/out" to="remapped_output"/>-->
      </node>

	<group>
    	<node name="imageViewCenterRaw" pkg="image_view" type="image_view" respawn="false" >
     		<remap from="image" to="/bumblebeeCenter/left/image_raw/"/>
     	</node>

    	<node name="imageViewCenterColorRect" pkg="image_view" type="image_view" respawn="false" >
     		<remap from="image" to="/bumblebeeCenter/left/image_rect_color/"/>
     	</node>
	</group>
	
</launch>
