<launch>
  <include file="$(find marvin)/launch/marvin.machine" />

  <!-- param name="workcell" value="$(find marvin)/scene/Marvin.model.wc.xml"/ -->

  <group >
	<!-- the default marvin workcell -->
	
	
	<!-- start the teleoperate nodes -->
	<node name="tele1" pkg="teleoperate" type="teleoperate" respawn="false" machine="marvin-1">
		<param name="robot" value="UR1"/>
		<param name="rate" value="100"/>
		<param name="PushSensor" value="/trakstar/pushed"/>
		<param name="PoseArray" value="/trakstar/poses_raw"/>
		<param name="PoseIdx" value="3"/>
	</node>

	
  </group>
</launch>
